[package]
name = "oak-macros"
description = "Procedural macros for the Oak framework to simplify parser and AST definition."
categories = ["development-tools::procedural-macros"]
keywords = ["macros", "proc-macro", "codegen"]
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lib]
proc-macro = true

[dependencies]
proc-macro2 = { workspace = true }
quote = { workspace = true }
syn = { workspace = true }
